<!DOCTYPE html>
<html>
   <head>
   <meta charset="UTF-8">
   <title>Calgary</title>
       
   <link type="text/css" rel="stylesheet" href="index.css"
         media="screen and (min-width: 1001px)">
   <link type="text/css" href="index-mobile.css" rel="stylesheet"
         media="screen and (max-width: 1000px)">
       

       
   <script src="../ex.js"></script>
   <script src="../ex_store_calgary.js"></script>
   <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
       <link rel="shortcut icon" href="palm.ico" />   
   </head>
   
   
   
   
   <body>
       
       <div class="header">
           <div class="home"> <a href="index.html"><img src="plane.jpg" width=90 height=90></a>
       </div>
           <h1>Final Destinations Travel</h1>
            
         <h3> 133 Moss Heather
                +17095556789</h3>  
       </div>
       	  <h1> Calgary </h1>
          <img id="pic" src="calgary.jpg" width="400" height="200" alt="Calgary"/>
       
        <div id="dates">
        
        <ul><h4>Available Dates:</h4>
            <li>10.10.2015</li>
            <div class="button"> <a>BOOK</a> </div>
            <li>11.10.2015</li>
            <div class="button"><a> BOOK </a>
            </div>
            <li>12.10.2015</li>
                
                <div class="button"><a>BOOK</a> </div>
        </ul>
    </div>
	<p>
    St John's to Calgary<br>
    </p>
	</div>
	
        <div id="rates">
	<ul>
	<li>St John's to Calgary 500$<br>
	    Sept6- Sept 13<li>
	    St John's to Calgary 1050$<br>
	    Nov 6- Nov 13<li>
	    St John's to Calgary 1200$<br>
	    Dec 7- Dec 14<li>
	    St John's to Calgary 1500$<br>
	    Oct5- Oct 12
		</li>
		</ul>
	</div>
       <div id= "weather">
<span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71877&bannertypeclick=wu_simplewhite" title="Calgary, Alberta Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_simplewhite_metric&airportcode=CYYC&ForcedCity=Calgary&ForcedState=Canada&wmo=71877&language=EN" alt="Find more about Weather in Calgary, CA" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.1.71877&bannertypeclick=wu_simplewhite" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
</div>

       
        <div id="mid">
	<div id="summery">
	<p>This trip includes a western canadian adventure, ride horses, eat bison and visit the largest mall in Canada all in one short week.
	</p>
	</div>
            
            
             
	<div id = "program">
	<ol>
	<li>Day 1 - Tour of the city</li>
	<li>Day 2 - Ski lessions in banff</li>
	<li>Day 3 - Calgary stampede</li>
	<li>Day 4 - Free day to explore</li>
	<li>Day 5 - West Edmonton Mall</li>
	<li>Day 6 - Barbeque </li>
	<li>Day 7 - Home</li>
	</ol>
	</div>
        </div>
	
	
	
	<div id="break">
	<p>___________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
	</div>
	<div id ="including">
	Including:<br>
        <ol>
	<li>Toilets</li>
	<li>Transportation</li>
	<li>Riverside view</li>
	</ol>
	</div>
	
	<div id ="excluding">
	
	Excluding:<br>
        <ol>
	<li>Vegatarian option</li>
	<li>Meals</li>
	<li>Pool</li>
	</ol>
	</div>
	
 <h2> Leave a review below: </h2>
    
    
      <form>
          
         Title:   <input type="text" id="title" name="title"><br>
          <div id="map"></div>
         Rating(1-5): <input type="number" id="rating" min="1" max="5" name="rating"><br>
         Full name: <input type="text" id="name1" name="firstname"><br>
         <textarea name="aReview" id="aReview" rows="7" columns="100" ></textarea>
          <script>getLocation()</script>
          
        
        <br>
         <input type="radio" name="guestMan" id="guest" value="Guest" checked>Guest<br>
         <input type="radio" name="guestMan" id="manager" value="Manager">Manager<br>
         <input type="button" id="postButton" value="Post">
         <input type="button" id="deleteAll" value="Delete All"><br>
          
   </form>

           
   

  <ul id="reviews">
  </ul>

<ul id="responses">
</ul>

<div id="deleted">
</div>
   </body>
</html>
