<html>
   <head>
   <meta charset="UTF-8">
   <title> Welcome! </title>
       
       <!-- check for css links here -->
   <link type="text/css" rel="stylesheet" href="index.css"
         media="screen and (min-width: 1001px)">
   <link type="text/css" href="index-mobile.css" rel="stylesheet" 
         media="screen and (max-width: 1000px)"> 
       <link rel="shortcut icon" href="palm.ico" />   

   </head>
   
   <body>
       
       <div class="header">
           <div class="home"> <a href="index.html"><img src="plane.jpg" width=90 height=90></a>
       </div>
           <h1>Final Destinations Travel</h1>
            
         <h3> 133 Moss Heather
                +17095556789</h3>  
       </div>
      <p>
          Final Destinations Travel has been delivering the best in travel experiences since it's creation in 2015. We encourage you to use our service in all your future travel needs.  Below you will find information about our destinations. Feel free to leave a review!
      </p>

                 <div id="sidebar">
        <h1>Weekly Offers</h1>
                <ul>
                    <a href="calgary.html" ><li>Calgary Escape</li></a>
                        <p>6.10.2015 - 10.10.2015</p>
                    <a href="hawaii.html" ><li>Hawaii Trip</li></a>
                    <p>5.10.2015 - 7.10.2015 </p>
                    <a href="hammondsplains.html" ><li>Hammonds Plains Tour</li></a>
                    <p>6.10.2015 <em>TODAY ONLY</em></p>
                </ul>
        
    </div>


    <h2>Destinations:</h2>
 
     <div id=itinerary">
     <div class="destination">        
        <a target="_blank" href="hp.jpg">
        <img class="destinationImage" src="hp.jpg" width=200 height=150 alt="Hammonds Plains"> </a> 
        <a id="link" href="hammondsplains.html" title="Hammonds Plains"><h2>Hammonds Plains, Nova Scotia</h2></a> 
        <p>
           Hammonds Plains' is beautiful scenic, country destination.  Enjoy yourself surrounded by nature and spend your days at nearby golf courses and beaches.
        </p>
     </div>
  
    <br>
    <div class="destination">
       <a target="_blank" href="calgary.jpg">
       <img class="destinationImage" src="calgary.jpg" width=200 height=150 alt="Calgary"> </a> 
                                                                                                <a href="calgary.html" title="Calgary"><h2>Calgary, Canada</h2></a>  
       <p>
          Calgary is great city with lots to see! There's lots to do in this, whether you are into sports, sight seeing or interested in stopping in for the annual Calgary Stampede.
       </p>            
     </div>
   <br>
     
    <div class="destination">
       <a target="_blank" href="hawaii.jpg">       
       <img class="destinationImage" src="hawaii.jpg" width=200 height=150 alt="Hawaii"> </a> 
       <a href="hawaii.html" title="Hawaii"> <h2>Hawaii, USA</h2></di></a>
       <p>
          A beautiful beach destination, Hawaii is peaceful and romantic vacation spot.  Palm trees and cool breeze on the beach is what awaits you here.
       </p>
    </div>   
    <br>

    <div class="destination">
       <a target="_blank" href="tahiti.jpg">
       <img class="destinationImage" src="tahiti.jpg" width=200 height=150 alt="Tahiti"> </a> 
       <a href="tahiti.html" title="Tahiti"> <h2>Tahiti, French Polynesia</h2></di></a>
       <p>
          Tahiti, the largest island in the French Polynesia, is home to black-sand beaches, lagoons, waterfalls and 2 extinct volcanoes. It's a popular vacation destination. Explored by Captain James Cook, it was also frequently painted by French artist Paul Gauguin.

    </div>
    </div>

    <div id="footer">
    <p>
     Final Destinations &copy; 2015 <br>
    FDestinations@mun.ca 
    </p>
    </div>
    
   

</body>
</html>
